h1,h2{
    text-align: center;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 15px;
}

.card{
    position: relative;
    width: 300px;;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    display: inline-block;

}
.front{
    position: absolute;
    width:300px;
    height:400px;
    backface-visibility: hidden;
    background-color: #9662d1;
    color: black;
    text-align: center;
}
.back{
    position: absolute;
    width:300px;
    height:400px;
    background-color: white;
    backface-visibility: hidden;
    color: rgb(85, 40, 40);
    text-align: center;
    transform: rotateY(180deg);
}
.flipCard{
    transform: rotateY(180deg);
}
.card:nth-child(2) .front,:nth-child(3) .front,:nth-child(4) .front, :nth-child(5) .front{
    background-color: #9662d1;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
}
.card:nth-child(2) .back,:nth-child(3) .back,:nth-child(4) .back, :nth-child(5) .back{
    background-color: white;
    color: #6836a1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
}
.flipCard-two{
    transform: rotateY(180deg);
}
body
{
  background-color:#6836a1;
}
#button
{
  position:relative;
  top:100px;
  left:48vw;
  margin-left:-30px;
  width:60px;
  font-size:16px;
  padding:20px;
  background-color:white;
  border-radius:10px;
  font-family:arial;
  text-decoration:none;
  font-weight:bold;
  color:black;
}
#button:hover
{
  background-color:#EFF1F3;
  color:#6836a1;
  font-size: 25px;
  width:80px;
}
.flipCard-three{
    transform: rotateY(180deg);
}
.flipCard-four{
    transform: rotateY(180deg);
}

