#idt-interactive-learning {
    background-color: blueviolet;
}

#idt-interactive-learning div:first-of-type {
    display: flex;
}

#idt-interactive-learning div div {
    align-self: center;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

#idt-interactive-learning button.idt-active-btn {
    background-color: white;
    color: black;
    padding: 1em 2em 1em 2em;
    margin: 0.5em;
    border: none;
}

#idt-interactive-learning button {
    background-color: black;
    color: white;
    padding: 1em 2em 1em 2em;
    margin: 0.5em;
    border: none;
}

@media screen and (max-width: 740px) {
    #idt-interactive-learning div:first-of-type {
        display: flex;
        flex-direction: column;
    }
}