#idt-form {
    background-color: darkgray;
    max-width: 50%;
    margin: 0 25% 0 25%;
    padding: 1em;
}

#idt-form h1,
h3 {
    text-align: center;
    background-color: lightgray;
}

#idt-form button {
    margin: 0.5em;
}

#idt-generated-code {
    background-color: black;
    color: white;
    padding: 0.5em;
    max-width: 50%;
    margin: 0 25% 0 25%;
}


#idt-form a {
    color: #000;
}

@media screen and (max-width: 700px){
    #idt-form {
        background-color: darkgray;
        max-width: 100%;
        padding: 1em;
    }
    #idt-generated-code {
        background-color: black;
        color: white;
        padding: 0.5em;
        max-width: 100%;
    }
}